<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>amp-ads-perf</title>
</head>
<body>
  <h1>perf testing examples</h1>
  <ul>
    <li>
      <a href="/templated-img.html">templated img</a>
    </li>
    <li>
      <a href="/single-img.html">single img</a>
    </li>
    <li>
      <a href="/animation.html">animation</a>
    </li>
    <li>
      <a href="/carousel.html">carousel</a>
    </li>
    <li>
      <a href="/text.html">text</a>
    </li>
    <li>
      <a href="/video.html">video</a>
    </li>
    <li>
      <a href="/ff-fallback.html">ff-fallback</a>
    </li>
    <li>
      <a href="/sticky-ad.html">sticky</a>
    </li>
    <li>
      <a href="/yahoo.html">yahoo</a>
    </li>

    <li>
      <a href="https://www.axios.com/coronavirus-pandemic-world-health-organization-who-78902c0e-6a25-4324-ba4a-13a8c900b8af.html">real world</a>
    </li>
  </ul>
</body>
</html>
